<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <% const formatDateTime = (iso) => { if (!iso) return ''; const d = new
    Date(iso); const time = d.toLocaleTimeString("en-US", { hour: "numeric",
    minute: "2-digit", hour12: true }); const date =
    d.toLocaleDateString("en-GB", { day: "2-digit", month: "short", year:
    "numeric" }); return `${time}, ${date}`; }; %>

    <div class="main">
      <%- include('../partials/navbar.ejs') %>
      <div class="event-det-container">
        <h1 class="event-det-heading">
          <% if(locals.now >= new Date(locals.eventDetails.startTime) &&
          locals.now <= new Date(locals.eventDetails.endTime)) { %>
          <div class="event-det-live">🔴Live</div>
          <% } %>
          <span><%= locals.eventDetails.title %></span>
        </h1>
        <p class="event-det-deadline">
          <img
            src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiNmZGZkZmQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1hbGFybS1jbG9jay1pY29uIGx1Y2lkZS1hbGFybS1jbG9jayI+PGNpcmNsZSBjeD0iMTIiIGN5PSIxMyIgcj0iOCIvPjxwYXRoIGQ9Ik0xMiA5djRsMiAyIi8+PHBhdGggZD0iTTUgMyAyIDYiLz48cGF0aCBkPSJtMjIgNi0zLTMiLz48cGF0aCBkPSJNNi4zOCAxOC43IDQgMjEiLz48cGF0aCBkPSJNMTcuNjQgMTguNjcgMjAgMjEiLz48L3N2Zz4="
          />
          <span
            >deadline : <%= formatDateTime(locals.eventDetails.deadline)
            %></span
          >
        </p>
        <div class="event-det-body">
          <p class="event-det-dates">
            <span class="event-det-start-date"
              >🗓️<span
                >&nbsp;<%= formatDateTime(locals.eventDetails.startTime)
                %></span
              ></span
            >
            <span>-></span>
            <span class="event-det-end-date"
              >🗓️<span
                >&nbsp;<%= formatDateTime(locals.eventDetails.endTime) %></span
              ></span
            >
          </p>
          <p class="event-det-venue-details">
            <span class="sub-det"
              >Orgainiser:
              <span><%= locals.eventDetails.organiser %></span></span
            >
            <span class="sub-det"
              >📍Venue: <span><%= locals.eventDetails.venue %></span></span
            >
          </p>

          <div class="event-det-short-description">
            <div>Dear Students,</div>
            <%= locals.eventDetails.shortDescription %>
          </div>
          <% if(locals.eventDetails.description) { %>
          <div class="event-det-session-overview">
            <div>Session Overview</div>
            <%= locals.eventDetails.description %>
          </div>
          <% } %>
          <div class="line"></div>
          <div class="event-det-author-details">
            <div>Warm Regards,</div>
            <div class="event-det-author">
              <div class="event-det-author-name">
                <%= locals.eventDetails.author??'Dr Lipika Das' %>
              </div>
              <div class="event-det-author-position">
                <%= locals.eventDetails.position??'Chair, HRDC' %>
              </div>
            </div>
          </div>

          <% if(locals.role==='STUDENT' &&
          locals.registrationDetails?.status==='REGISTERED') { %>
          <div class="event-registration-code-div">
            <div class="event-registration-code-title">REGISTRATION CODE</div>
            <% const result =
            locals.registrationDetails?.registrationCode.match(/.{1,3}/g).join('-');
            %>
            <div class="event-registration-code"><%= result %></div>
          </div>
          <% } %> <% if(locals.role==='ADMIN' ) { %>
          <div class="event-det-button-div">
            <% if( locals.now >= new Date(locals.eventDetails.startTime) &&
            locals.now <= new Date(locals.eventDetails.endTime)) { %>
            <a
              href="/admin/student-registrations/<%= locals.eventDetails._id %>"
              >MARK ATTENDANCE</a
            >
            <% } else { %>
            <a
              href="/admin/student-registrations/<%= locals.eventDetails._id %>"
              >VIEW ATTENDANCE</a
            >
            <% } %>
          </div>
          <% if(locals.eventDetails.deadline <= locals.now) { %>
          <div class="event-det-status">REGISTRATION CLOSED</div>
          <% } %> <% } else { %> <% if( locals.now <= new
          Date(locals.eventDetails.deadline)) { %> <%
          if(!locals.registrationDetails || locals.registrationDetails.status
          === 'CANCELLED') { %> <% if(locals.eventDetails.capacity >
          locals.currOcc) { %>

          <form
            action="/events/register/<%= locals.eventDetails._id %>"
            method="post"
            class="event-det-button-div"
          >
            <button type="submit">REGISTER</button>
          </form>
          <% } else { %>

          <div class="event-det-status">HOUSE FULL</div>

          <% } %> <% } else { %>
          <form
            action="/events/de-register/<%= locals.eventDetails._id %>"
            method="post"
            class="event-det-cancel-button-div"
          >
            <button type="submit">CANCEL REGISTRATION</button>
          </form>

          <% } %> <% } else if(locals.eventDetails.startTime >= locals.now) { %>
          <div class="event-det-status">REGISTRATION CLOSED</div>
          <% } else if(locals.eventDetails.endTime >= locals.now) { %> <%
          if(!registrationDetails || registrationDetails.status==='CANCELLED') {
          %>
          <div class="event-det-status">REGISTRATION CLOSED</div>
          <% } else if(registrationDetails.attendanceStatus ==='PENDING') { %>
          <div class="event-det-status statusNotOk">ATTENDANCE PENDING</div>
          <% } else { %>
          <div class="event-det-status statusOk">ATTENDED</div>
          <% } %> <% } else { %> <% if(!registrationDetails ||
          registrationDetails.status==='CANCELLED') { %>
          <div class="event-det-status">REGISTRATION CLOSED</div>
          <% } else if(registrationDetails.attendanceStatus ==='PENDING') { %>
          <div class="event-det-status statusNotOk">DID NOT ATTEND</div>
          <% } else { %>
          <div class="event-det-status statusOk">ATTENDED</div>
          <% } %> <% } %><% } %>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
