<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
     <div class="main">
      <%- include('../partials/navbar.ejs') %>

      <div class="heading-div">
        <% const
          attendedEventsIds = locals.registeredEvents.filter(m => m.attendanceStatus
          === 'ATTENDED') .map(m => m.eventId._id.toString()); const
          pendingEventsIds = locals.registeredEvents.filter(m => m.attendanceStatus ===
          'PENDING' && locals.now >= new Date(m.eventId.startTime) && locals.now <= new Date(m.eventId.endTime)).map(m => m.eventId._id.toString());
          const
          notAttendedEventsIds = locals.registeredEvents.filter(m => m.attendanceStatus ===
          'PENDING' && (locals.now >= new Date(m.eventId.endTime))).map(m => m.eventId._id.toString());
          console.log(notAttendedEventsIds);
          const
        pad2 = n => String(n).padStart(2, '0'); const to12Hour = d => { const
        h24 = d.getHours(); const ap = h24 < 12 ? 'AM' : 'PM'; const h12 = (h24
        % 12) || 12; return `${h12}:${pad2(d.getMinutes())} ${ap}`; }; const
        months = [ 'Jan','Feb','Mar','Apr','May','Jun',
        'Jul','Aug','Sep','Oct','Nov','Dec' ];%> 
        <h1 class="heading">My Space</h1>
        <form action="/dashboard/registered" method="get" class="sort-by-div">
          <label>
           <span>Sort by:&nbsp;</span>  
            <select class="selected" onchange="this.form.submit()" name="sort">
              <option value="recent" <%= locals.select=== 'recent' ? 'selected' : '' %> >recent</option>
              <option value="oldest"  <%= locals.select=== 'oldest' ? 'selected' : '' %> >oldest</option>
            </select>
          </label>
        </form>
      </div>

      <div class="sub-nav-div">
        <a href="/dashboard/registered" class="sub-nav-button <%= locals.uri ==='REGISTERED'?'registered':'' %>">Registered</a>
        <a href="/dashboard/cancelled" class="sub-nav-button <%= locals.uri ==='CANCELLED'?'cancelled':'' %>">Cancelled</a>
      </div>

      <% if(locals.registeredEvents.length) { %>
      <div  class="event-list-div">
        <% locals.registeredEvents.forEach(event => { %> <% const startDate = new
        Date(event.eventId.startTime); const endDate = new Date(event.eventId.endTime);  const startTimeText =
        to12Hour(startDate); const endTimeText = to12Hour(endDate); const
        startDateText = `${pad2(startDate.getDate())}
        ${months[startDate.getMonth()]}`; %>

        
              <div class="event-div">

        <a href="/events/<%= event.eventId._id %>" class="event-child-div">
          <div class="event-time-div">
            <div class="event-time-internal-div">
              <div class="event-start-time"><%= startTimeText %></div>
              <div class="event-start-date"><%= startDateText %></div>
              <div class="event-end-time"><%= endTimeText %></div>
              <img class="dotted-line" src="/images/dotted-line1.webp" />
            </div>
          </div>

          <div class="event-desc-div">
            <div class="event-title"><%= event.eventId.title %></div>
            <div class="event-short-description">
              <%= event.eventId.shortDescription %>
            </div>
          </div>

          <% if (event.eventId.startTime <= locals.now && event.eventId.endTime >= locals.now) {
          %> 

          <div class="live-meter">
            <span>LIVE&nbsp;</span>
            <img
              src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9IiM1NEM3OEQiIHN0cm9rZS13aWR0aD0iMiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBjbGFzcz0ibHVjaWRlIGx1Y2lkZS1yYWRpby1pY29uIGx1Y2lkZS1yYWRpbyI+PHBhdGggZD0iTTE2LjI0NyA3Ljc2MWE2IDYgMCAwIDEgMCA4LjQ3OCIvPjxwYXRoIGQ9Ik0xOS4wNzUgNC45MzNhMTAgMTAgMCAwIDEgMCAxNC4xMzQiLz48cGF0aCBkPSJNNC45MjUgMTkuMDY3YTEwIDEwIDAgMCAxIDAtMTQuMTM0Ii8+PHBhdGggZD0iTTcuNzUzIDE2LjIzOWE2IDYgMCAwIDEgMC04LjQ3OCIvPjxjaXJjbGUgY3g9IjEyIiBjeT0iMTIiIHI9IjIiLz48L3N2Zz4="
            />
          </div>

          <% } %>  <% if
          (attendedEventsIds.includes(event.eventId._id.toString())) { %>
          <div class="statusOk">ATTENDED</div>
          <% } %> <% if (pendingEventsIds.includes(event.eventId._id.toString())) { %>
          <div class="statusNotOk">ATTENDANCE PENDING</div>
          <% } %>  <% if (notAttendedEventsIds.includes(event.eventId._id.toString())) { %>
          <div class="statusNotOk">DID NOT ATTEND</div>
          <% } %>
        </a>
        </div>

        <% }) %>
      </div>

       <% } else { %>
          <div class="message">😇 Registered events will appear here!</div>
    <% } %>
    </div>

    <%- include('../partials/footer.ejs') %>
  </body>
</html>
