<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <div class="main">
      <%- include('../partials/navbar.ejs') %>
      <div class="box">
        <h1 class="headingg">Sign <span>In</span></h1>
        <div>
          <form class="form" action="/user/login" method="post">
            <label>
              <input
                class="input"
                required
                type="email"
                placeholder="Email Address"
                value="<%= locals.body?.email %>"
                name="email"
                id="email"
              />
            </label>
            <label>
              <input
                class="input"
                required
                type="password"
                value="<%= locals.body?.password %>"
                placeholder="Password"
                name="password"
                id="password"
              />
            </label>
            <button class="sbutton" type="submit">CONTINUE WITH EMAIL</button>
            <a href="/user/signup" class="link">Need an account? Join</a>
          </form>
        </div>
      </div>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
