<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/header.ejs') %>
  </head>
  <body>
    <div class="main">
      <%- include('../partials/navbar.ejs') %>
      <div class="box">
        <h1 class="headingg">Join <span>Eventually</span></h1>
        <div>
          <form class="form" action="/user/Signup" method="post">
            <label>
              <input
                class="input"
                required
                placeholder="Display Name"
                type="fullName"
                value="<%= locals.body?.fullName %>"
                name="fullName"
                id="fullName"
              />
            </label>
            <label>
              <input
                class="input"
                placeholder="Email Address"
                required
                type="email"
                name="email"
                value="<%= locals.body?.email %>"
                id="email"
              />
            </label>
            <label>
              <input
                class="input"
                required
                placeholder="Password"
                min="8"
                type="password"
                name="password"
                value="<%= locals.body?.password %>"
                id="password"
              />
              <p class="link">
                Password must be at least 8 characters and contain uppercase,
                lowercase, and a number
              </p>
            </label>
            <button class="sbutton" type="submit">CREATE ACCOUNT</button>
            <a href="/user/login" class="link"
              >Already have an account? Login</a
            >
          </form>
        </div>
      </div>
      <%= locals.error %>
    </div>
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
